.about_page {
    min-height: calc(100vh - 160px);
    padding: 40px;
    background-color: #EFE7A0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about_container {
    max-width: 900px;
    padding: 20px;

    font-family: "Microsoft Sans Serif", sans-serif;
    color: #000000;
}


.about_container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.about_container p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 18px;
}

.about_team {
    margin-top: 30px;
    text-align: right;
}
