.auth_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.auth_form label {
    font-size: 14px;
}

.auth_form input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 6px;
    font-size: 14px;
}

.primary_btn {
    margin-top: 15px;
    padding: 12px;
    background-color: #1188E6;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.auth_links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.link_btn {
    background: none;
    border: none;
    color: #1188E6;
    cursor: pointer;
    font-size: 14px;
}
