footer {
    font-family: 'Microsoft Sans Serif', sans-serif;
    font-size: 10px;
    letter-spacing: 1.88px;
    color: #000000;

    background-color: #E6D24C;
    padding: 16px;
    width: 100%;

    display: flex;
    justify-content: center;
}

/* LIJST */
footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 0;
    margin: 0;
}

/* LINKS */
footer a {
    text-decoration: none;
    color: inherit;
}

/* TABLET */
@media (max-width: 768px) {
    footer ul {
        gap: 12px;
    }
}

/* MOBILE */
@media (max-width: 480px) {
    footer ul {
        flex-direction: column;
        gap: 8px;
        text-align: center;
    }
}
