header {
    text-align: center;
    color: white;
    width: 100%;
    background-color: #172FC6;
    padding: 1rem;
}


header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.subtext {
    font-size: 24px;
    margin: 5px 0;
}