.quiz_section {
    padding: 120px 80px 80px;
}

/* DESKTOP (standaard) */
.quiz_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* QUIZ CARD */
.quiz_card {
    background-color: #D9D9D9;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 30px 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.quiz_card_title {
    color: #000000;
    font-size: 16px;
    margin-top: 12px;
}


.quiz_card:hover {
    transform: scale(1.05);
}

/* TABLET */
@media (max-width: 1024px) {
    .quiz_grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }
}

/* MOBILE */
@media (max-width: 600px) {
    .quiz_grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
