nav. {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E6D24C;
}
 .nav-links {
     list-style-type: none;
     display: flex;
     gap: 20px;
     margin: 0;
 }

 .nav-links a {
     font-family: "Microsoft Sans Serif", SansSerif;
     font-size: 24px;
     letter-spacing: 1.88px;
     color: #000000;
 }

 .language-selector a {
     margin-left: 10px;
 }