/* Form */
.auth_form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.auth_form label {
    font-size: 14px;
    color: #000;
}

.auth_form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.auth_form input::placeholder {
    color: #666;
}


/* Error */
.auth_error {
    color: #d33;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
}
/* Wrapper voor password veld */
.password_wrapper {
    position: relative;
}

/* Eye button */
.password_toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #666;
}

/* Hover effect */
.password_toggle:hover {
    color: #000;
}